
<div class="login-box">
    <p>Login</p>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="user-box">
        <input name="username" type="text" id="username" [(ngModel)]="username" required="Favor, iserir email válido.">
        <label for="username">Usuário</label>
      </div>
      <div class="user-box">
        <input name="password" id="password" [(ngModel)]="password" type="password" required="Favor, inserir senha válida.">
        <label>Password</label>
      </div>
      <button  type="submit" [disabled]="loginForm.invalid" href="#">
        Acessar
      </button>
    </form>
  </div>