<div class="row mt-5" >
    <div class="col-lg-4 offset-lg-5">
        <div class="card bg-light mb-3" style="max-width: 30rem;" >
            <div class="card-header" style="text-align: center;"><h5>Adicionar  medicamento</h5></div>
            <div class="card-body">
                <form>
                    <input type="text" class="form-control" placeholder="Nome do medicamento">
                    <input type="text" class="form-control mt-3" placeholder= "Descrição">
                    <input type="text" class="form-control mt-3" placeholder=" Quantidade">
                    <input type="text" class="form-control mt-3" placeholder="Laboratório">
                    <input type="text" class="form-control mt-3" placeholder=" Forma Farmaceutica">
                    <input type="text" class="form-control mt-3" placeholder="Estoque">
                </form>
                <div class="row mt-2 text-center">
                <div class="col-lg-6" >
                    <button  type="button" class="btn btn-success mt-3 ">Salvar</button>
                </div>
                <div class="col-lg-6">
                    <button routerLink="/" type="button" class="btn btn-danger mt-3 ">Cancelar</button>
                </div>
                </div>
            </div>
    </div>
</div>
