<app-splash-screen *ngIf="showSplash"></app-splash-screen>
<div class="container">
    <div class="title mt-5">
        <h4>Lista de Medicamentos</h4>
        <button type="button" class="btn btn-primary" routerLink="/add-medicamento"> Novo medicamento</button>
    </div>
    <table *ngIf="listMedicamentos.length > 0" class="table table-default">
        <thead>
          <tr style="text-align: center;">

            <th scope="col">Id</th>
            <th scope="col">Nome Medicamento</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Laboratório</th>
            <th scope="col">Forma Farmaceutica</th>
            <th scope="col">Estoque</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let item of listMedicamentos"  class="table-active" style="text-align: center;">
            <td> {{item.id}} </td>
            <td> {{item.nome_medicamento}} </td>
            <td> {{item.descricao}} </td>
            <td> {{item.quantidade}}</td>
            <td> {{item.laboratorio}}</td>
            <td> {{item.forma_farmaceutica}}</td>
            <td> {{item.estoque}}</td>
            <td>
                <button routerLink="/editar-medicamento/{{item.id}}" type="button" class="btn btn-info btn-sm ms-2"><i class="fa-solid fa-pen"></i></button>
                <button (click)="deleteMedicamento(item.id!)" type="button" class="btn btn-warning btn-sm ms-2"><i class="fa-solid fa-trash"></i></button>

            </td>

          </tr>
        </tbody>
      </table>
      <button  (click)="generatePDF()" type="button" class="btn btn-primary"><i class="fa-solid fa-print"></i></button>
        <h3  class="mt-3" style="text-align: center;" *ngIf="listMedicamentos.length == 0">No momento não há medicamentos cadastrados. :/<br> <img src="../../../assets/search.png" alt=""></h3>
</div>

<div class="footer">
  <img src="./../../../assets/images/LOGO FROM.png" alt="Logo Rodapé">
</div>
