<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img  routerLink="./" src="../../../assets/images/logo_bellpharma2.png" alt="" width="130rem"style="cursor: pointer;">
      </a>
      <h5 style="font-family: hard days; color: #006BB7;">
        Lista de Medicamentos
      </h5>
      <a href="https://www.linkedin.com/in/donizete-junior-5196211a7/" target="_blank">
        <button class="linkedin"><i class="fa-brands fa-linkedin"></i></button>
      </a>
    </div>
  </nav>